.welcome{
    text-align: center;
    color: blue;
    background:linear-gradient(to right darkorange);
    justify-content: center;
    font-size: 50px;
    font-family: cursive;
}

body{
    box-sizing: border-box;

}

.nav{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    background: linear-gradient(to top right,orange,red);
    height: 75px;
}

.browse :hover,a{
    color: red;
}

.carousel img{
    height: 500px;
    width: 50%;

}

.carousel-item{
    font-family: cursive;
}

.d-flex{
    margin-left: 10%;
}

.d-flex img{
    width: 350px;
    height: 400px;
    padding: 5%;
}

.p-2{
    border: thin solid black ;
    margin: 10px;
}

.p-2 button{
    margin-left: 25%;
    color: white;
    background-color: purple;
    width: 200px;
}

.p-2 p{
    color: blue;
    font-size: larger;
    font-weight: bolder;
    font-family: cursive;
}

footer{
    text-align: center;
    background: linear-gradient(to right, orange,red);
}

table th{
    border: solid;
    text-align: center;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 25%;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 25%;
}

.fa-google {
    background: #dd4b39;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 25%;
}

.fa-instagram {
    background: #125688;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 25%;
}
  
.fa-pinterest {
    background: #cb2027;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 25%;
}
